<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>ログイン画面</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css" />
  <style>
    html,
    body {
      background-color: #00d1b2;
      height: 100%;
    }

    .root {
      height: 100%;
      padding-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .border-pad>.container {
      background-color: white;
    }

    .border-pad {
      background-color: white;
      padding: 10px;
    }
  </style>
</head>

<body>
  <div class="root">
    <div class="border-pad">
      <div class="container">
        <header class="header">
          <div class="container">
            <div class="nav">
              <h1 class="nav-item title is-2">Login Form</h1>
            </div>
          </div>
        </header>
        <div class="container">
          <p>
            <a th:href="@{/auth/twitter}">twitter</a>
          </p>
          <form id="login_form" method="post" th:action="@{/login}">
            <div class="field">
              <p class="controll">
                <label>ID</label>
                <input class="input" type="text" id="username" name="username" placeholder="id" autofocus="autofocus" required="required"
                />
              </p>
            </div>
            <div class="field">
              <p class="controll">
                <label>Password</label>
                <input class="input" type="password" id="password" name="password" placeholder="password" required="required" />
              </p>
            </div>
            <div class="field">
              <p class="controll">
                <input class="button is-primary" id="login_button" type="submit" value="ログイン" />
              </p>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</body>

</html>
