
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head profile="http://purl.org/net/ns/metaprof">
    <title>Classmethod Login Service - signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous" />
    <style>
.signup-widget {
	margin-top: 100px;
	width: 380px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
	</style>
</head>
<body>
<div class="container">
    <form id="signup_form" th:action="@{/signup}" method="post" th:object="${signupForm}">
        <fieldset>
            <div class="form-group">
                <label for="username">Username <span th:if="${#fields.hasErrors('username')}" class="error" th:text="${#fields.errors('username')[0]}">Error</span></label>
                <input type="text" id="username" name="username" th:field="*{username}" class="form-control" placeholder="Username" />
            </div>
            <div class="form-group">
                <label for="password">Paswsword <span th:if="${#fields.hasErrors('password')}" class="error"
                                                      th:text="${#fields.errors('password')[0]}">Error</span></label>
                <input type="password" id="password" name="password" th:field="*{password}" class="form-control"
                       placeholder="Password"/>
            </div>
        </fieldset>
        <div class="form-group form-actions">
            <button id="login" class="btn btn-primary btn-block btn-lg" type="submit">
                <i class="fa fa-pencil"></i>
                <span>Signup</span>
            </button>
        </div>
    </form>
</div>
</body>
</html>
